/* * {
  margin: 0%;
  padding: 0%;
  height: 100%;
} */


.center {
  text-align: center;
}
.h-50 {
  height: 100px;
}
.bold {
  font-weight: bold;
}
.imgwidth {
  width: 40px;
  height: 40px;
}
.left {
  float: left;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.first-txt{
  position: absolute;
  top: 100px;
  left:5px;
  color:rgb(255, 255, 255);
}

/* nav {
  float: right;
} */
/* a::after {
  content: "->";
} */
.fa-heart {
  color: rgb(17, 45, 201);
}


/* Container holding the image and the text */
.containerImg {
  position: relative;
  text-align: center;
  color: white;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 30px;
  left: 16px;
}

.footer {
  background-color: darkslategray;
  color: white;
}

